.top-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
}

.top-nav-bar__logo {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 30px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar__topics {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-nav-bar__topics li {
  display: inline;
  margin-right: 16px;
}

.top-nav-bar__topics li span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.top-nav-bar__topics li span:hover {
  text-decoration: underline;
  color: #111;
}

.fav-badge {
  margin-right: 24px;
}

.top-nav-bar .fav-icon path {
  fill: #C80000 !important;
}
